body {
    margin: 0;
}

#gameWrapper {
    position: absolute;
}

canvas {
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    position: absolute;
}

canvas#myCanvas
{
    border: 1px solid black;
}
